@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/deps/font-archivo-black/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
}
